.THIS.c-container {
    position:absolute;
    top:35%;left:10%;
    width:460px;
}
.THIS .header-menu {
position: absolute;
    top: 10%;
    left: 10%;
}

.THIS .page-section {
    background: #fff;
    border: solid 1px #ccc;
    padding: 2rem;
    border-radius: 7px;
}
.THIS .page-header,
.THIS .page-footer {
    height: 50px;
}
.THIS .page-main {
    background: #f8f8f8;
}

.THIS h2{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 140%;
}

.THIS span{
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: #aaa;
    line-height: 180%;
}


.THIS .header-menu {
    padding: 1rem;
    height: 70px;
    color:white;
}

.THIS .top-menu a{
    padding:10px;
    color:white;
}