.THIS .approved {
    width: 80px;
    height: 80px;
    background: #376bcc;
    border-radius: 3px 3px 10px -1px;
    color: #fff;
    font-size: 32px;
    vertical-align: middle;
    text-align: center;
    line-height: 80px;
}

.THIS .approve{
    float:right;    
}

.THIS .approveL{
    float:left;
    padding: 15px;
}

.THIS .approveL p{
    font-weight: 600;
    color: #376bcc;
}

.THIS .approveL span{
    float: right;
    color:#888;
}

.THIS .page-footer{
    width:101%;
    border-top: 1px solid #e6e6e6;
}